<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Carrom Board</h2>
    <p>
        Carrom is a tabletop game which resembles snooker or billiards, and the more modern games of subbuteo and air hockey. 
        The game of Carrom is played by propelling discs and potting them into the four corner pockets on a wooden playing board. 
        Some variations use small cues but most Carrom is played by hand
    </p>
</body>
</html>