<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrom World Champions</title>
</head>
<body>
    <h1>Carrom World Champions</h1>
    <section>
        <h2>Team "{{t1}}"</h2>
        <h3>Rashmi Kumari</h3>
        <p>The current world champion of carrom, Rashmi Kumari is from Bihar, India and has won three World Carrom Championship titles in the Women's Singles category.</p>
        <h3>Sufiyan Chikte</h3>
        <p>Sufiyan Chikte of the UAE won the silver medal at the 8th Carrom World Championship in Langkawi, Malaysia in 2022.</p>
    </section>
    <section>
        <h2>Team "{{t2}}"</h2>
        <h3>Mohammed Ghufran</h3>
        <p>India's Mohammed Ghufran won the gold medal at the 8th Carrom World Championship in Langkawi, Malaysia in 2022.</p>
        <h3>Shaeed Hilmy</h3>
        <p>Shaeed Hilmy of Sri Lanka won the bronze medal at the 8th Carrom World Championship in Langkawi, Malaysia in 2022.</p>
    </section>
</body>
</html>